.banner {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        @media (max-width: 500px) {
            display: block;
            margin: 0 -15px;
        }
    }

    &__item{
        margin: 0 10px;
        width: calc(50% - 20px);
        @media (max-width: 500px) {
            width: 100%;
            margin: 0;
        }
    }
    &__box {
        padding-top: 13px;
        @media (max-width: 500px) {
            padding: 13px 15px;
        }
    }
    &__subtitle {
        transition: all .3s;
    }
    &__imgs {

    }
    &__img {
        width: 100%;
        max-width: 100%;
    }
    &__title {
        margin-top: 3px;
    }
    &__subtitle {
        margin-top: 7px;
    }
}