    .burger {
        position: absolute;
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: none;
        z-index: 99;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;



    }
    
    .burger span,
    .burger span:before,
    .burger span:after {
        width: 100%;
        position: absolute;
        height: 5px;
        background: #000;
        display: block;
        transition: .3s;
        border-radius: 5px;
    }
    
    .burger span:before {
        content: "";
        top: -20px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .burger span {
        top: 20px;
    }
    
    .burger span:after {
        content: "";
        bottom: -20px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .burger span.active:before {
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .burger span.active:after {
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .burger span.active {
        background: rgba(255, 255, 255, 0);
    }
    
    .header-menu__list.active {
        transform: translateX(0);
        -webkit-box-shadow: 0px 0px 81px 8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 81px 8px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 81px 8px rgba(0, 0, 0, 0.75);
    }