    /* для элемента input c type="radio" */
    
    .custom-radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    /* для элемента label связанного с .custom-radio */
    
    .custom-radio+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    /* создание в label псевдоэлемента  before со следующими стилями */
    
    .custom-radio+label::before {
        content: '';
        display: inline-block;
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #000;
        margin-left: 13px;
        background-repeat: no-repeat;
        background-position: center center;
        // background-size: 50% 50%;
        order: 2;
        @media (max-width: 500px) {
            width: 33px;
            height: 33px;
        }
    }
    /* стили при наведении курсора на радио */
    
    .custom-radio:not(:disabled):not(:checked)+label:hover::before {
        border-color: #c4c4c4;
        ;
    }
    /* стили для активной радиокнопки (при нажатии на неё) */
    
    .custom-radio:not(:disabled):active+label::before {
        background-color: #fff;
        background-image: url(../img/icon/checkbox.png);
    }
    /* стили для радиокнопки, находящейся в фокусе */
    
    .custom-radio:focus+label::before {
        background-image: url(../img/icon/checkbox.png);
    }
    /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
    
    .custom-radio:focus:not(:checked)+label::before {
        border-color: #80bdff;
    }
    /* стили для радиокнопки, находящейся в состоянии checked */
    
    .custom-radio:checked+label::before {
        border-color: #000;
        background-image: url(../img/icon/checkbox.png);
        @media (max-width: 500px) {
            background-size: 77%;
        }
    }
    /* стили для радиокнопки, находящейся в состоянии disabled */
    
    .custom-radio:disabled+label::before {
        background-color: #e9ecef;
    }
    
    .radio {
        margin-bottom: 0.4em;
    }

    
    .news-form {
        &__inner{
            padding: 0 20px;
            @media (max-width: 500px) {
                padding: 0;
            }
        }
        margin-top: 12px;
        &__radio:not(:last-child){
            margin-right: 25px;
        }
        &__form {
            width: 100%;
        }
        &__box {
            display: flex;
            @media (max-width: 500px) {
                display: block;
            }
        }
        &__input {
            opacity: 1;
            width: 100%;
            padding: 0;
            border-bottom: 1px solid #000;
            border: none;
            outline: none;
            padding-bottom: 7px;
            font-weight: 600;
            @media (max-width: 1024px) {
                margin-top: 3px;
            }
            @media (max-width: 500px) {
                padding-bottom: 1px;
                margin: 0 5px 0 0;
            }
        }
        &__input-border {
            border-bottom: 2px solid #000;
        }
        &__input-name {
            width: 50%;
            @media (max-width: 500px) {
                width: 100%;
                margin: 0 5px 0 0;
            }
        }
        &__checkbox {
            margin-top: 17px;
            display: flex;
            @media (max-width: 500px) {
                display: block;
            }
        }
        &__btn {
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                opacity: .5;
            }
        }
        &__subtitle {
            font-size: 19px;
            & span {
                margin-right: 5px;
                font-size: 19px;
            }
        }
        &__link {
            display: inline-block;
        }
        &__radio:not(:last-child){
            @media (max-width: 500px) {
                margin-right: 10px;
            }

        }
    }