.news {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 57px;
    margin: 0 -10px;
  }

  &__item {
    width: calc(25% - 20px);
    margin: 0 10px;
    @media (max-width: 764px) {
      width: calc(50% - 20px);
      margin: 0 10px;
    }
  }
  &__item.top{
    @media (max-width: 500px) {
      width: 100%;
    }

  }

  &__box {
    max-width: 100%;
  }

  &__subheading {
    margin-top: 0;
  }

  &__title {
    margin-top: 5px;
  }

  &__nav {
    width: 100%;
    padding-top: 52px;
    margin-top: 16px;
    @media (max-width: 500px) {
      padding: 0;
    }
  }

  &__nav-subtitle {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__nav-title {
    line-height: 60px;
    font-size: 60px;
  }

  &__nav-full {
    display: block;
    margin-top: 137px;
    font-size: 16px;
    line-height: 24px;
    transition: all .3s;
    @media (max-width: 500px) {
      margin: 12px 0;
    }
  }

}