        .swiper-pagination-bullet-active,
        .swiper-pagination-bullet,
        .swiper-pagination-bullet {
            background-color: transparent;
            border: none;
            outline: none;
        }
        
        .swiper-pagination-bullet {
            opacity: 1;
            color: #c4c4c4;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            @extend  %helv-b;
            font-size: 40px;
            margin-right: 15px;
            width: auto;
            height: auto;
            border: none;
            @media (max-width: 1024px) {
                font-size: 30px;
            }
            @media (max-width: 500px) {
                font-size: 20px;
            }
        }
        
        .swiper-pagination-bullet-active {
            color: #000000;
            opacity: 1;
        }
        .slide-top__pagination .swiper-pagination-bullet {
            @media (max-width: 1024px) {
                color: #fff;
            }

        }
        .slide-top__pagination .swiper-pagination-bullet-active {
            @media (max-width: 1024px) {
                color: #000;
            }

        }
        
        .slide {
            width: 100%;
            overflow: hidden;
            position: relative;
            &__card {
                flex-shrink: 0;
            }
            &__wrap {
                display: flex;
                width: 100%;
                height: 100%;
            }
            &__pagination {
                width: auto !important;
                z-index: 15;
                position: absolute;
            }
        }
        
        .slide-top {
            &__container {
                max-width: 1440px;
            }
            &__title {
                margin-top: 3px;
            }
            &__pagination {
                position: absolute;
                bottom: 110px !important;
                right: 20px !important;
                left: auto !important;
                top: auto !important;

                @media (max-width: 1600px) {
                    bottom: 100px!important;
                }

                @media (max-width: 1280px) {
                    bottom: 90px!important;
                }

                @media (max-width: 1024px) {
                    bottom: auto !important;
                    right: 20px !important;
                    left: auto !important;
                    top: 23px !important;
                }
            }
            &__box {
                padding: 8px 20px 36px;
            }
            &__img {
                max-width: 100%;
            }
        }
        
        .slide-news {
            &__container {
                max-width: 335px;
            }
            &__pagination {
                position: static;
            }
            &__wrap {
                padding-top: 52px;
            }
            &__pagination {
                position: absolute;
                bottom: auto !important;
                right: 0 !important;
                left: auto !important;
                top: 0 !important;
            }
            &__img {
                max-width: 100%;
                width: 100%;
            }
        }
        
        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
            margin-right: 5px;
        }