    %helv-bb {
        font-family: "HelveticaBlack";
        font-style: normal;
        font-weight: 900;
    }
    
    %helv-bbi {
        font-family: "HelveticaBlackItalic";
        font-style: oblique;
        font-weight: 900;
    }
    
    %helv-b {
        font-family: "HelveticaBold";
        font-style: normal;
        font-weight: 700;
    }
    
    %helv-bi {
        font-family: "HelveticaBoldItalic";
        font-style: oblique;
        font-weight: 700;
    }
    
    %helv-h {
        font-family: "HelveticaHeavy";
        font-style: normal;
        font-weight: 800;
    }
    
    %helv-hi {
        font-family: "HelveticaHeavyItalic";
        font-style: oblique;
        font-weight: 800;
    }
    
    %helv-i {
        font-family: "HelveticaItalic";
        font-style: oblique;
        font-weight: normal;
    }
    
    %helv-l {
        font-family: "HelveticaLight";
        font-style: normal;
        font-weight: 300;
    }
    
    %helv-li {
        font-family: "HelveticaLightItalic";
        font-style: oblique;
        font-weight: 300;
    }
    
    %helv-m {
        font-family: "HelveticaMedium";
        font-style: normal;
        font-weight: 500;
    }
    
    %helv-mi {
        font-family: "HelveticaMediumItalic";
        font-style: oblique;
        font-weight: 500;
    }
    
    %helv-r {
        font-family: "HelveticaRegular";
        font-style: normal;
        font-weight: 400;
    }
    
    %helv-t {
        font-family: "HelveticaThin";
        font-style: normal;
        font-weight: 200;
    }
    
    %helv-ti {
        font-family: "HelveticaThinItalic";
        font-style: oblique;
        font-weight: 200;
    }
    
    %helv-u {
        font-family: "HelveticaUltralight";
        font-style: normal;
        font-weight: 100;
    }
    
    %helv-ui {
        font-family: "HelveticaUltraLightItalic";
        font-style: oblique;
        font-weight: 100;
    }