@font-face {
    font-family: "HelveticaBlack";
    src: url("../fonts/HelveticaBlack.woff");
    font-style: normal;
    font-weight: 900;
}


/* font-family: "HelveticaBlackItalic"; */

@font-face {
    font-family: "HelveticaBlackItalic";
    src: url("../fonts/HelveticaBlackItalic.woff");
    font-style: oblique;
    font-weight: 900;
}


/* font-family: "HelveticaBold"; */

@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold.woff");
    font-style: normal;
    font-weight: 700;
}


/* font-family: "HelveticaBoldItalic"; */

@font-face {
    font-family: "HelveticaBoldItalic";
    src: url("../fonts/HelveticaBoldItalic.woff");
    font-style: oblique;
    font-weight: 700;
}


/* font-family: "HelveticaHeavy"; */

@font-face {
    font-family: "HelveticaHeavy";
    src: url("../fonts/HelveticaHeavy.woff");
    font-style: normal;
    font-weight: 800;
}


/* font-family: "HelveticaHeavyItalic"; */

@font-face {
    font-family: "HelveticaHeavyItalic";
    src: url("../fonts/HelveticaHeavyItalic.woff");
    font-style: oblique;
    font-weight: 800;
}


/* font-family: "HelveticaItalic"; */

@font-face {
    font-family: "HelveticaItalic";
    src: url("../fonts/HelveticaItalic.woff");
    font-style: oblique;
    font-weight: normal;
}


/* font-family: "HelveticaLight"; */

@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight.woff");
    font-style: normal;
    font-weight: 300;
}


/* font-family: "HelveticaLightItalic"; */

@font-face {
    font-family: "HelveticaLightItalic";
    src: url("../fonts/HelveticaLightItalic.woff");
    font-style: oblique;
    font-weight: 300;
}


/* font-family: "HelveticaMedium"; */

@font-face {
    font-family: "HelveticaMedium";
    src: url("../fonts/HelveticaMedium.woff");
    font-style: normal;
    font-weight: 500;
}


/* font-family: "HelveticaMediumItalic"; */

@font-face {
    font-family: "HelveticaMediumItalic";
    src: url("../fonts//HelveticaMediumItalic.woff");
    font-style: oblique;
    font-weight: 500;
}


/* font-family: "HelveticaRegular"; */

@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular.woff");
    font-style: normal;
    font-weight: 400;
}


/* font-family: "HelveticaThin"; */

@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/HelveticaThin.woff");
    font-style: normal;
    font-weight: 200;
}


/* font-family: "HelveticaThinItalic"; */

@font-face {
    font-family: "HelveticaThinItalic";
    src: url("../fonts/HelveticaThinItalic.woff");
    font-style: oblique;
    font-weight: 200;
}


/* font-family: "HelveticaUltralight"; */

@font-face {
    font-family: "HelveticaUltralight";
    src: url("../fonts/HelveticaUltralight.woff");
    font-style: normal;
    font-weight: 100;
}


/* font-family: "HelveticaUltraLightItalic"; */

@font-face {
    font-family: "HelveticaUltraLightItalic";
    src: url("../fonts/HelveticaUltraLightItalic.woff");
    font-style: oblique;
    font-weight: 100;
}